<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% for topic in topics %}
    <h2>{{ topic.name }}</h2>
    {% for info in topic.courses.all %}
        <p>{{ info.title }}</p>
        <p>{{ info.academy }}</p>
        <p>{{ info.info }}</p>
        <p>{{ info.training_date }}</p>
    {% endfor %}
    {% endfor %}
    데이터를 불러오자
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">INSTAGRAM</h5>
            <a class="btn btn-outline-primary" href="#">Sign up</a>
        </div>
    <img src="http://hrd.go.kr//images/img_noimage.gif">
          
            <ol>
                {% for information in informations %}
                  <li> {{information.title}}
                  {% endfor %}
                   
            </ol>
            <hr>
            <ol>        
                {% comment %} {% for information in informations %}
                {% endfor %} {% endcomment %}
            </ol>
           
            <form  method="POST" enctype="multipart/form-data">
                <div class="card-body">
                                <textarea class="form-control" rows="5" name="contents"></textarea>
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input name="image" type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                         </form>   
                         <div class="container">
                                {% for article in articles %}
                                <div class="row mt-4">
                                    <div class="card col-12">
                                        <img src="" class="card-img-top">
                                        <div class="card-body">
                                            <p class="card-text">{{article.image}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>
</html>